<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VOTING</title>
    <style>
        body{
            background-attachment: fixed;
            background-color: aqua;
        }
    </style>
</head>
<body>
    <h1 style=color:red>CHOOSE THE CORRET ANSWER :</h1>
    <h1>{{ question.question_text }}</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="{% url 'voting:vote' question.id %}" method="post">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br><br><br>
    {% endfor %}
    <input type="submit" value="Vote">
</form>
</body>
</html>